<div class="container my-5">
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "제목" %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", placeholder: "내용" %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user&.id %>
    <%= f.submit "#{f.object.new_record? ? '등록' : '수정'}", class: "float-right" %>
  <% end %>
</div>