<hr/>
<div class="container my-5">
  <div class = "row mb-5 justify-content-end">
    <%= form_tag request.parameters, method: :get do %>
        <div class="form-inline">
          <%= text_field_tag :q, params[:q], class: "form-control mr-1" %>
          <%= submit_tag "검색", class: "btn btn-primary mr-1" %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="<%= post.image.url(:thumb) if post.image? %>" class="card-img-top" />
          <div class="card-body h-50">
            <h4 class="card-title"><%= post.title.truncate(10) %></h4>
            <span class="card-text"><%= post.content.truncate(50) %></span>
          </div>
          <hr/>
          <div class="mb-2">
            <% if post.user.nil? %>
              <div class="card-subtitle text-right mr-2">(탈퇴 회원)</div>
            <% else %>
              <div class="card-subtitle text-right mr-2">작성자: <%= post.user&.name %></div>
            <% end %>
          </div>
          <div class="card-footer">
            <%= link_to "자세히 보기", post_path(post&.id), class: "btn btn-outline-warning btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @posts %>
  </div>
</div> 
